<div class="offsetter absolute"
     [style.left]="offset.x + 'px'"
     [style.top]="offset.y + 'px'">
    <div class="relative">
        @for (card of cards; track $index) {
        <div class="content"
             [@added]="getAnimation($index)"
             [style.pointerEvents]="$index === selected ? 'auto' : 'none'">


            @if (card.content.closeable) {
            <div class="close-button"
                 (appClick)="pop()">
                <div class="block">
                    ← Esc
                </div>
            </div>
            }


            <ng-container [ngTemplateOutlet]="card.content.templateRef"></ng-container>
        </div>
        }
    </div>
</div>

<!-- This is needed for correct initialization of the template views -->
<ng-content></ng-content>