<div
     class="container"
     [class.editing]="isEditing"
     [appContextMenu]="contextOptions"
     (appDrag)="onDrag($event)"
     [dragEnabled]="!isEditing"
     (clicked)="select()"
     (pointerenter)="hovered = true"
     (pointerleave)="hovered = false"
     (appClickOutside)="deselect()"
     #container>
    <div class="title">
        <app-editable [(text)]="block.title" [enabled]="isEditing" (textChange)="changed.emit()" />
    </div>
    @if (block.description || isEditing) {
    <div class="description">
        <app-editable [(text)]="block.description" [enabled]="isEditing" placeholder="Add description..."
                      (textChange)="changed.emit()" />
    </div>
    }

    @if (hovered && !isEditing) {
    <div @appear-left class="section outputs ">
        <div class="add-container" (pointerdown)="startLine($event, 'output')">
            <app-icon class="icon inline-block" src="block-output.svg" />
            <div class="hint">Add output</div>
        </div>
    </div>

    <div @appear-right class="section inputs">
        <div class="add-container flex gap-5" (pointerdown)="startLine($event, 'input')">
            <div class="hint">Add input</div>
            <app-icon class="icon inline-block" src="block-dependency.svg" />
        </div>
    </div>

    <div class="section events" (pointerdown)="startLine($event, 'event')">
        <div @appear-down>
            <div class="add-container flex-column flex gap-5">
                <app-icon class="icon inline-block" src="block-event.svg" />
                <div class="hint">Add event</div>
            </div>
        </div>
    </div>
    }

    <div class="anchor right" [class.hidden]="isEditing || !hasOutputs" #outputAnchor>
        <div class="icon output"></div>
    </div>
    <div class="anchor left" [class.hidden]="isEditing || !hasInputs" #inputAnchor>
        <div class="icon input"></div>
    </div>
    <div class="anchor bottom" [class.hidden]="isEditing || !hasEvents" #eventAnchor>
        <div class="icon event"></div>
    </div>
</div>