<app-block [appContextMenu]="contextMenu" class="container" @grow>

    <!-- Title -->
    <div class="flex justify-center bold italic text-center">
        <app-editable [(text)]="branch.title"></app-editable>
    </div>

    <!-- Editable -->
    <app-editable [(text)]="branch.description" placeholder="Description goes here..."></app-editable>

    <!-- Tasks -->
    <!-- <app-lazy [when]="tasks" loadText="Loading tasks...">
        <ng-template appLazyTarget> -->
            @for (task of tasks(); track $index) {
                <p @grow>{{task()?.title}}</p>
            }
        <!-- </ng-template>
    </app-lazy> -->

    <!-- Processes -->
    <!-- <app-lazy [when]="processes" loadText="Loading processes...">
        <ng-template appLazyTarget> -->
            @for (process of processes(); track $index) {
                <p @grow>{{process()?.title}}</p>
            }
        <!-- </ng-template>
    </app-lazy> -->

    <div class="vspace-10"></div>
    <app-fvp [(fvp)]="branch.product"></app-fvp>
</app-block>