.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    background-color: rgb(0 0 0 / 90%);
    padding: 10px;
    min-width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    cursor: default;
}

.close-button {
    position: absolute;
    top: -5px;
    right: -5px;
    transform: translateY(-100%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.section-header {
    text-align: center;
    font-size: small;
    font-weight: bold;
}