:host {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    opacity: 0.75;
    &:hover {
        opacity: 1;
    }


    &.selected {
        filter: drop-shadow(0 0 6px rgb(0 133 255 / 75%));
        opacity: 1;
    }
}