<!-- HEADER -->
<app-popup #menu>
    <ng-template appPopupContent let-property>
        <app-property-popup [descriptor]="property" (deleted)="menu.hide()"></app-property-popup>
    </ng-template>
</app-popup>


<div class="flex">
    @for (property of properties(); track $index) {
    <div class="text-left px-1 py-2 hover:surface-100 cursor-pointer" (click)="menu.toggle($event, property)">
        {{property.name}}
    </div>
    }
</div>

@for (task of tasks(); track task) {
<app-task-row [task]="task"></app-task-row>
}

<app-task-add-button (clicked)="addTask()" [first]="true"></app-task-add-button>