@use "@styles/colors.scss" as colors;

div {
    display: flex;
    justify-content: center;

    background-color: darken(colors.$white, 10%);

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

    position: relative;
}