:host {
    position: fixed;
    z-index: 10;
    font-size: 14px;
    transform: translateY(-50%);
    user-select: none;
}

.container {
    min-width: 200px;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}

.context-option {
    cursor: pointer;
    padding: 0.8em 1.2em;
    transition: transform 0.1s ease-in-out;

    color: var(--fg-color);

    &:hover {
        --fg-color: var(--flavor, var(--secondary));
        transform: scale(1.02);
    }
}

.option-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
