<div>
    <app-editable class="h3"
                  [(text)]="office.title"></app-editable>
    <app-editable [(text)]="office.description"></app-editable>

    <div class="flex">
        <div *appLazyFor="let branch of branches(); type: 'branch'; let branchProxy = proxy;"
             class="block"
             (appClick)="cardsManager.push(branchRef, { from: blockRef })"
             #blockRef>

            <p block-title
               class="text-center">{{ branch.title }}</p>


            <ng-template appCardContent
                         #branchRef="appCardContent"
                         [closeable]="true">
                <app-branch [branch]="branch"></app-branch>
            </ng-template>

        </div>
    </div>
</div>