<div>
    <h1>{{companyName}}</h1>
    <p>Organizational structure</p>

    <app-connector>

        <div class="grid">
            <div class="block grid-owner" #ownerRef>
                <p block-title class="text-center">Owner</p>
            </div>


            <div class="block grid-ceo" #ceoRef appConnectable [receive]="ownerRef" direction="vertical">
                <p block-title class="text-center">CEO</p>
            </div>


            @for (division of divisions; track $index) {

                <!-- Why not create templates right here? -->

                <ng-template appCardContent #divisionRef=appCardContent [closeable]="true">
                    <app-division [division]="division"></app-division>
                </ng-template>


                <div class=" block grid-division-{{$index + 1}}"
                     (pointerdown)="showDivision(divisionRef, blockRef)" #blockRef
                     appConnectable [receive]="$index === 0 ? ownerRef : ceoRef" direction="vertical"
                >
                    <p block-title class="text-center">
                        <span class="division-letter">{{division.firstLetter}}</span>
                    </p>
                    <p block-title class="text-center text-tiny">{{division.fullName}}</p>
                </div>
            }

            <p class="text-right italic bold small grid-divisions ph-5">Divisions</p>
        </div>

    </app-connector>
</div>