@use "@styles/elements/division-letter.scss";

.grid {
    display: grid;
    grid-column-gap: 0;
    grid-template-rows: auto 2fr auto 3fr auto;
    justify-items: stretch;
    align-items: stretch;

    grid-template-areas:
        ". . . . . . owner owner owner owner . . . . . ."
        ". . . . . . . . . . . . . . . . "
        ". . . . . . . . ceo ceo ceo . . . . ."
        ". . . . . . . . . . divisions divisions divisions divisions divisions ."
        ". d1 d1 d2 d2 d3 d3 d4 d4 d5 d5 d6 d6 d7 d7 .";

    &-owner { grid-area: owner; }
    &-ceo { grid-area: ceo; }

    &-division-1 { grid-area: d1; }
    &-division-2 { grid-area: d2; }
    &-division-3 { grid-area: d3; }
    &-division-4 { grid-area: d4; }
    &-division-5 { grid-area: d5; }
    &-division-6 { grid-area: d6; }
    &-division-7 { grid-area: d7; }

    &-divisions { grid-area: divisions; }
}