@function mix($color1, $color2) {
    @return color-mix(in srgb, $color1, $color2);
}

@function darken($color, $amount: 10%) {
    @return mix($color, black $amount);
}

@function transparentize($color, $amount: 50%) {
    @return mix($color $amount, transparent);
}

:root {
    --primary: #1e7694;
    --secondary: #9c8fff;

    --danger: #b3082d;
    --error: var(--danger);
    --warning: #a19924;

    --white: #eee;
    --black: #222;

    --grey: color-mix(in srgb, var(--black) 50%, var(--white));
    --grey-lighter: color-mix(in srgb, var(--black) 20%, var(--white));
    --grey-darker: color-mix(in srgb, var(--black) 80%, var(--white));

    --fg-color: var(--black);
    --bg-color: var(--white);

    color: var(--fg-color);
}

::selection {
    background: color-mix(in srgb, var(--secondary) 50%, transparent);
}

html {
    background-color: var(--white);
}