:root {
    --border-radius: 10px;
    --border-radius-small: 5px;
    --border-radius-large: 15px;

    --scale-action: scale(1.02);
    --duration-action: 0.3s;
}

@mixin space($kind, $size) {
    .#{$kind}space-#{$size} {
        @if $kind == "v" {
            height: $size + px;
        } @else {
            width: $size + px;
        }
    }
}

@mixin spaces {
    @each $kind in "v", "h" {
        @for $i from 1 through 10 {
            @include space($kind, $i * 5);
        }
    }
}

@mixin gap($size) {
    .gap-#{$size} {
        gap: $size + px;
    }
}

@mixin gaps {
    @for $i from 1 through 10 {
        @include gap($i * 5);
    }
}

@mixin margin-single($kind, $size, $type) {
    $property: if($type == "p", "padding", "margin");
    $prefix: if($type == "p", "p", "m");

    .#{$prefix}#{$kind}-#{$size} {
        @if $kind == "v" {
            #{$property}-top: $size + px;
            #{$property}-bottom: $size + px;
        } @else if $kind == "h" {
            #{$property}-left: $size + px;
            #{$property}-right: $size + px;
        } @else if $kind == "t" {
            #{$property}-top: $size + px;
        } @else if $kind == "r" {
            #{$property}-right: $size + px;
        } @else if $kind == "b" {
            #{$property}-bottom: $size + px;
        } @else if $kind == "l" {
            #{$property}-left: $size + px;
        }
    }
}

@mixin margin-uniform($size, $type) {
    $property: if($type == "p", "padding", "margin");
    $prefix: if($type == "p", "p", "m");

    .#{$prefix}-#{$size} {
        #{$property}: $size + px;
    }
}

@mixin margins {
    @each $type in "p", "m" {
        @for $i from 0 through 10 {
            @include margin-uniform($i * 5, $type);
        }

        @each $kind in "v", "h", "t", "r", "b", "l" {
            @for $i from 0 through 10 {
                @include margin-single($kind, $i * 5, $type);
            }
        }
    }
}



@include spaces;
@include gaps;
@include margins;


.app-centered {
    width: 100%;
    max-width: 600px;
    padding: 35px 35px;
    margin: 35px auto;
}

@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
}