@use "@styles/colors.scss" as colors;
@use "@styles/layout.scss" as layout;

:host {
    text-align: center;
}

.bar {
    opacity: 0;
    transition: all 0.1s ease-in-out;
    position: absolute;
    pointer-events: none;


    z-index: 10;

    &.visible {
        opacity: 1;
        pointer-events: all;
    }


    border-radius: layout.$borderSmall;
    background-color: colors.$grey;
    width: max-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    position: absolute;

    * {
        color: white;

        transition: all 0.1s ease-in;
        cursor: pointer;
    }

    > * {
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    transition: opacity 0.05s ease-in;
}

button {
    border: 3px dashed colors.$grey;
    border-radius: layout.$borderSmall;
    box-sizing: border-box;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }

    transition: all 0.1s ease-in-out;

    width: max-content;
    padding: 5px 15px;

    font-weight: bold;

    &:not(.visible) {
        opacity: 0;
    }
}

.plus {
    font-size: 2.2em;
    font-weight: bolder;
    line-height: 0.5em;
    margin-bottom: 5px
}

p {
    margin: 10px 5px;
}
