<app-centered-content class="container" [alignContent]="'center'">
    <div class="vspace-30"></div>
    <app-new-item-button></app-new-item-button>
    <app-search-bar class="search-bar" (changed)="this.query = $event"></app-search-bar>

    <!-- @for (match of matches(); track $index) { -->
        <!-- @if (match[1].length > 0) { -->
            <!-- Category title -->
            <!-- <h2>{{plurals[match[0]]}}</h2> -->

            <!-- Actual items -->
            <!-- @for (item of match[1]; track $index) { -->
                <!-- <app-item [item]="item" (remove)="remove(item)"></app-item> -->
            <!-- } -->
        <!-- } -->
    <!-- } -->
</app-centered-content>

