@use "@styles/colors.scss";

.division-letter {
    color: colors.$accent;
    text-shadow: 2px 2px 0px #000000;
    padding: 2px 10px;
    display: inline-block;
    font-weight: bold;
    font-style: unset;
}