@use "@styles/colors.scss";

.container {
    position: fixed;
    bottom: 50px;
    left: 50%;
    max-width: 400px;
    transform: translateX(-50%);
}

.background {
    padding: 1rem;
    border-radius: 0.2rem;
    background-color: var(--danger);
    color: white;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.678);
}

h4 {
    margin-bottom: 0.2rem;
    color:rgba(255, 0, 0, 0.678);
}