<div class="app-bg"></div>

<div [appContextMenu]="contextOptions()"
     class="app-centered">
    <h1 class="light white">Processes</h1>

    <div class="flex-column flex gap-10">
        @for (process of processes; track $index) {
        <app-with-icon class="process white pointer"
                       icon="process.svg"
                       (click)="selectProcess(process)"
                       [appContextMenu]="contextOptions(process)">
            <div class="h3 weight-normal m-0">{{process.title}}</div>
        </app-with-icon>
        @if (process.description) {
        <p class="m-0">{{process.description}}</p>
        }
        }
    </div>

</div>

<!-- <app-processes-viewer /> -->

@if (selectedProcess) {
<app-process-editor [process]="selectedProcess"
                    [path]="currentPath"
                    (closed)="selectedProcess = undefined"
                    (processSelected)="selectedProcess = $event"
                    (taskSelected)="selectedTask = $event" />
}

@if (selectedTask) {
<app-task-editor [task]="selectedTask"
                 [parentProcess]="selectedProcess!"
                 (closed)="selectedTask = undefined" />
}