<app-block [appContextMenu]="contextMenu" class="office-block gap-10 ">
    <!-- Title -->
    <div class="flex justify-center">
        <app-editable [(text)]="office.title" class="text-center"></app-editable>
    </div>

    <!-- Collection of branches, lazily loaded -->
    <div class="flex-column"> <!-- Container to remove gap between the branch blocks -->

        <app-lazy [when]="branches" loadText="Loading branches...">
            <ng-template appLazyTarget>

                @for (branch of branches(); track $index) {

                    <app-lazy [when]="branch()" loadText="Loading branch...">
                        <ng-template appLazyTarget>

                            <!-- @if (branch()) { -->
                                <app-branch [branch]="branch()!" (removed)="branches.remove(branch)"></app-branch>
                            <!-- } -->

                        </ng-template>
                    </app-lazy>
                }

            </ng-template>
        </app-lazy>

    </div>

    <app-fvp [(fvp)]="office.product"></app-fvp>
</app-block>