<div class="container"
     @appear>
    <app-button class="close-button m-5"
                (click)="closed.emit()">Close</app-button>

    <div class="content block white">
        <app-with-icon class="h4"
                       icon="task.svg"
                       color="white">
            <app-editable [(text)]="task.title" />
        </app-with-icon>

        <app-editable [(text)]="task.description" />

        <div class="vspace-10"></div>

        <div class="grid">
            @for (section of sections; track $index) {
            <div>
                <app-with-icon [icon]="section.icon"
                               size="12px">
                    <p class="section-header">{{section.title}}</p>
                </app-with-icon>

                @for (item of section.items; track $index) {
                <app-with-icon class="block"
                               [icon]="section.icon"
                               [style.fontSize]="'12px'"
                               size="0.8em">
                    {{item}}
                </app-with-icon>
                }

                <app-with-icon icon="add.svg"
                               [style.fontSize]="'10px'"
                               class="block button"
                               size="0.8em"
                               (clicked)="section.addItem()">{{section.addItemTitle}}</app-with-icon>
            </div>
            }
        </div>
    </div>
</div>