@use "@styles/colors.scss";
@use "@styles/fonts.scss";
@use "@styles/layout.scss";

@use "@styles/elements/card.scss";

@use "@styles/animations.scss";

.h1 {
    font-size: 3em;
    font-weight: bold;
}

.h2 {
    font-size: 2em;
    font-weight: bold;
}

.h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.h4 {
    font-size: 1.2em;
    font-weight: bold;
}

.h5 {
    font-size: 1em;
    font-weight: bold;
}


html {
    // background-color: #eee;
    font-family: fonts.$main;
}

body {
    padding: 0;
    margin: 0;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.light {
    font-weight: lighter;
}

.flex {
    display: flex;

    &-column {
        display: flex;
        flex-direction: column;
    }

    &-row {
        display: flex;
        flex-direction: row;
    }

    &-grow {
        flex-grow: 1;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-start {
        justify-content: flex-start;
    }

    &.justify-end {
        justify-content: flex-end;
    }

    &.align-center {
        align-items: center;
    }
}

.inline-flex {
    display: inline-flex;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-small {
    font-size: 0.8em;
}

.text-tiny {
    font-size: 0.6em;
}

.light, .text-light, .weight-light {
    font-weight: lighter;
}

.text-normal, .weight-normal {
    font-weight: normal;
}




.pointer {
    cursor: pointer;
}