@use "@styles/colors.scss";
@use "@styles/fonts.scss";
@use "@styles/layout.scss";

@use "@styles/elements/button.scss";
@use "@styles/elements/loader.scss";
@use "@styles/elements/block.scss";

@use "@styles/animations.scss";

html {
    background-color: #eee;
    font-family: fonts.$main;
    color: colors.$grey;
}

body {
    padding: 0;
    margin: 0;
}


.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}

.flex {
    display: flex;

    &-column {
        display: flex;
        flex-direction: column;
    }

    &-row {
        display: flex;
        flex-direction: row;
    }

    &-grow {
        flex-grow: 1;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-start {
        justify-content: flex-start;
    }

    &.justify-end {
        justify-content: flex-end;
    }

    &.align-center {
        align-items: center;
    }
}

.inline-flex {
    display: inline-flex;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-small {
    font-size: 0.8em;
}

.text-tiny {
    font-size: 0.6em;
}