@use "@styles/colors.scss" as colors;

div {
    display: inline-flex;
    flex-direction: column;

    overflow: hidden; /* remove later */
    align-items: center;

    $pad-v: 15px;
    $pad-h: 15px;
    $w: 100px;
    $h: 80px;

    width: $w + $pad-h * 2;

    padding: $pad-v $pad-h;

    text-align: center;

    gap: 5px;
}

img {
    max-width: 100px;
    height: 35px;
}

.text {
    text-transform: uppercase;
    font-weight: bold;
    height: 2em;
    width: 100%;
}
